<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK Insulin UX
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        NHS.UK Insulin UX
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Version 1</span>
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p class="nhsuk-lede-text">
        This is the prototype with all journeys for the new Insulin pages.
      </p>
        <p>This page is for UR reference ONLY and not public facing. Links to each landing page and user scenario</p>
      <hr>

      <h2>
        Starting pages
      </h2>

      <ul>
        <li>
          <a href="/medicine-a"">Type 1</a>
          <div><em>(Knows medicine name)</em><br />
            "I'm a T1 diabetic and I'm having problems keeping my blood sugar in range on my current treatment. I want to see what other treatment options are available and if there's a better way to manage my condition." </div>
        </li>
        <li>
          <a href="/insulin-hub">Type 2</a>
          <div><em>(Find their way via Insulin hub)</em><br />
            "I've been T2 diabetic for over 10 years. Despite taking Metformin for a few years and trying other mitigations, my GP has recommended that I start using insulin now as my blood sugar has not been under control properly for some time. I want to find out more about Insulin and what that means for me"</div>
        </li>
        <li>
          <a href="/insulin-hub">Type 2 (Possible alt scenario)</a>
          <div><em>(Find their way via Type 2 page)</em><br />
            "I've been T2 diabetic... and I want  "</div>
        </li>
        <li>
          <a href="/medicine-a">Child</a>
          <div><em>(Knows medicine name)</em>
            <br /> "My child has been diagnosed with T1 and has started taking XXX. I want to find out everything I can in order to help her manage her medication and make family life easier.</div>
        </li>
        <li>
          <a href="/gestational-diabetes-treatment">Gestational</a>
          <div><em>(Comes from pregnancy link to Insulin hub)</em><br />
            "I'm 20 weeks pregnant and this is my second pregnancy. I've just had an Oral Glucose Tolerance Test as last time I was pregnant my blood sugar levels were quite high. This time the Dr has recommended that I need XXX insulin whilst I'm pregnant. I worried about it and need to know about how this could affect me and my baby."</div>
        </li>
      </ul>



      <hr>





      <!-- End of content -->

    </div>
  </div>
{% endblock %}
