<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
{% set topic_title = "Insulin" %}
{% set page_link = "Insulin for gestational diabetes" %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK Insulin UX
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Medicines A to z"
    },
    {
      href: "/",
      text: "Insulin"
    }
  ],
  href: "/",
  text: "Insulin for gestational diabetes"
}) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <section>
      <!-- Change the page title here -->
      <h1>
        Insulin for gestational diabetes
        <!--<span class="nhsuk-caption-xl nhsuk-caption--bottom">for diabetes</span>-->
      </h1>
      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p class="nhsuk-lede-text">Insulin is a medicine that helps your body use glucose (sugar) for energy.</p>
      <p>You'll need to be prescribed insulin for gestational diabetes if <a href="javascript: void(0)">other treatments</a> do not work well enough to lower your blood glucose.</p>
      <p>It can help prevent problems for you and your baby.</p>
      <hr />
    </section>
    <section>
      <h2>How you take insulin</h2>
      <p>You inject insulin using an insulin pen. This is a device that helps you inject safely and take the right dose.</p>
      <p>Using an insulin pen does not usually hurt. The needles are very small, as you only inject a small amount just under your skin.</p>
      <p>Your diabetes nurse will show you where to inject and how to use your pen.</p>
      <p>Blood sugar levels usually increase as your pregnancy progresses, so your insulin dose may need to be increased over time.</p>
      <p>You can usually stop taking insulin once your baby is born.</p>
    </section>
    <hr />
    <section>
      <h2>Types of insulin for gestational diabetes</h2>
      <p>Your doctor or care team will recommend the insulin treatment they think is best for you.</p>
      <p>Most people with gestational diabetes take both:</p>
      <ul>
        <li>a long acting or intermediate insulin once a day – usually <a href="javascript: void(0)">isophane insulin</a></li>
        <li>a rapid acting insulin before meals – usually either <a href="javascript: void(0)">insulin aspart (NovoRapid)</a> or <a href="javascript: void(0)">insulin lispro (Humalog)</a></li>
      </ul>
    </section>
    <hr />

    <section>
      {% include "includes/sub-topic-nav.html" %}
    </section>
  </div>
</div>
<!-- End of content -->
{% endblock %}
