<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK Insulin UX
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
  items: [
    {
      href: "/level-one",
      text: "Home"
    }
  ],
  href: "/level-one/level-two/level-three",
  text: "Medicines A to Z"
}) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- Change the page title here -->
      <h1>
        Insulin
        <!--<span class="nhsuk-caption-xl nhsuk-caption--bottom">for diabetes</span>-->
      </h1>
      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p class="nhsuk-lede-text">Find information about types of insulin and how to take it for type 1 diabetes, type 2 diabetes and gestational diabetes.</p>
        <hr />
      </div>
  </div>
</section>
<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      {% from 'card/macro.njk' import card %}
      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          {{ card({
            "href": "#",
            "clickable": "true",
            "heading": "Insulin for type 1 diabetes",
            "headingClasses": "nhsuk-heading-m",
            "description": ""
          }) }}
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          {{ card({
            "href": "#",
            "clickable": "true",
            "heading": "Insulin for type 2 diabetes",
            "headingClasses": "nhsuk-heading-m",
            "description": ""
          }) }}
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          {{ card({
            "href": "#",
            "clickable": "true",
            "heading": "Insulin for gestational diabetes",
            "headingClasses": "nhsuk-heading-m",
            "description": ""
          }) }}
        </li>
      </ul>
    </div>
  </div>
</section>
<hr />
<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h2>Types of insulin available</h2>
        <!-- rapid acting -->
        {% from 'card/macro.njk' import card %}

          <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
              {{ card({
                "href": "#",
                "clickable": "true",
                "heading": "Rapid and short acting insulin",
                "headingClasses": "nhsuk-heading-m",
                "description": "Includes insulin aspart, insulin lispro, insulin glulisine and soluble insulin"
              }) }}
            </li>
            <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
              {{ card({
                "href": "#",
                "clickable": "true",
                "heading": "Long acting and intermediate insulin",
                "headingClasses": "nhsuk-heading-m",
                "description": "Includes insulin detemir, insulin glargine, insulin degludec and isophane insulin"
              }) }}
            </li>
            <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
              {{ card({
                "href": "#",
                "clickable": "true",
                "heading": "Mixed insulin",
                "headingClasses": "nhsuk-heading-m",
                "description": "Includes biphasic insulin aspart, biphasic insulin lispro, biphasic isophane insulin"
              }) }}
            </li>
          </ul>
    </div>
  </div>
</section>
<hr />
<section>
  <div class="nhsuk-u-margin-top-6 nhsuk-hub-after-key-links"></div>
  <div>
    <div class="nhsuk-u-margin-top-6 ">
      <div class="beta-hub-related-links-title">
        <h2 class="nhsuk-heading-s ">Related information</h2>
      </div>
      <ul class="beta-hub-related-links">
        <li class="beta-hub-related-links__list-item">
          <a href="javascript: void(0)">
            Type 1 diabetes
          </a>
        </li>
        <li class="beta-hub-related-links__list-item">
          <a href="javascript: void(0)">
            Type 2 diabetes
          </a>
        </li>
        <li class="beta-hub-related-links__list-item">
          <a href="javascript: void(0)">
            Gestational diabetes
          </a>
        </li>
        <li class="beta-hub-related-links__list-item">
          <a href="javascript: void(0)">Diabetes UK: charity</a>
          <div>https://www.diabetes.org.uk<div>
        </li>
        <li class="beta-hub-related-links__list-item">
          <a href="javascript: void(0)">JDRF: charity</a>
          <div>https://jdrf.org.uk/</div>
        </li>
    </ul>
  </div>
</section>
<!-- End of content -->
{% endblock %}
