<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK Insulin UX
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
  items: [
    {
      href: "/level-one",
      text: "Home"
    }
  ],
  href: "/level-one/level-two/level-three",
  text: "Medicines A to Z"
}) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- Change the page title here -->
      <h1>
        Insulin (alt v)
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">for diabetes</span>
      </h1>
      <p class="nhsuk-lede-text">Insulin is a hormone that helps your body use glucose (sugar) for energy. It’s used as a medicine to treat diabetes, including type 1 diabetes, type 2 diabetes and gestational diabetes. It’s available on prescription.</p>
    </div>
  </div>
</section>

<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h2>Who takes insulin</h2>
      {% from 'card/macro.njk' import card %}
      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          {{ card({
            "href": "#",
            "clickable": "true",
            "heading": "Insulin for type 1 diabetes",
            "headingClasses": "nhsuk-heading-m",
            "description": "<p>Most people with type 1 diabetes take a long acting background insulin once or twice a day, and a separate rapid acting insulin before food.</p><p><a href=\"javascript: void(0)\">Find out more about ...</a></p>"
          }) }}
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          {{ card({
            "href": "#",
            "clickable": "true",
            "heading": "Insulin for type 2 diabetes",
            "headingClasses": "nhsuk-heading-m",
            "description": "<p>If you need insulin to treat type 2 diabetes, you might only need to take a long acting or background insulin.</p><p><a href=\"javascript: void(0)\">Find out more about ...</a></p>"
          }) }}
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          {{ card({
            "href": "#",
            "clickable": "true",
            "heading": "Insulin for gestational diabetes",
            "headingClasses": "nhsuk-heading-m",
            "description": "<p>If you need insulin to treat gestational diabetes you’ll usually be offered a type of insulin taken once or twice a day.</p><p><a href=\"javascript: void(0)\">Find out more about ...</a></p>"
          }) }}
        </li>
      </ul>
    </div>
  </div>
</section>
<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h2>Taking insulin</h2>
      <p>The type of insulin you take and the amount you need depends on your condition and how your body responds to insulin and carbohydrates.</p>
      <p>Insulin can sometimes cause low blood sugar (<a href="javascript: void(0)">hypoglycaemia</a>, or hypos). You’ll be told how to recognise the symptoms and treat hypos.</p>
      {% from 'details/macro.njk' import details %}
      {{ details({
      "classes": "nhsuk-expander",
      "text": "Insulin pens",
      "HTML": "
      <p>You inject insulin using an insulin pen. This is a device that helps you inject safely and take the right dose. The type of pen you use depends on which insulin you’re prescribed.</p>
      <p>Using an insulin pen does not usually hurt. The needles are very small, as you only inject a small amount just under your skin. When you’re first prescribed insulin you’ll be shown where to inject and how to use your pen.</p>
      "
      }) }}
      {% from 'details/macro.njk' import details %}
      {{ details({
      "classes": "nhsuk-expander",
      "text": "Insulin pumps",
      "HTML": "
      <p>Some people use an <a href=\"javascript: void(0)\">insulin pump</a> instead of injections. This is a device you attach to your body that gives you small amounts of insulin throughout the day and night. Pumps are recommended for some children and adults with type 1 diabetes.</p>
      "
      }) }}
    </div>
  </div>
</section>

<hr />
<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h2>Types of insulin</h2>
        <p>There are several different types of insulin, and different brand names. </p>

        {% from 'details/macro.njk' import details %}
        {{ details({
        "classes": "nhsuk-expander",
        "text": "Rapid acting, short acting, mealtime or bolus insulin",
        "HTML": "
          <p>Some start to work quickly and last a few hours. They’re taken before meals, to stop your blood glucose going too high when you eat carbohydrates. They’re known as rapid acting, short acting, mealtime or bolus insulin.</p>
          <p>Rapid acting insulin starts to work quickly and is taken a few minutes before meals. It can also be used in an insulin pump.</p>
          <ul>
            <li><a href=\"javascript: void(0)\">Insulin aspart (NovoRapid or Fiasp)</a></li>
            <li><a href=\"javascript: void(0)\">Insulin lispro (Humalog or Lyumjev)</a></li>
            <li><a href=\"javascript: void(0)\">Insulin glulisine (Apidra)</a></li>
          </ul>
          <p>Short acting insulin (also known as soluble or neutral insulin) works slightly slower than rapid acting insulin, but is also taken before meals.</p>
          <ul>
            <li><a href=\"javascript: void(0)\">  Soluble or neutral insulin (Actrapid, Humulin S or Insuman Rapid)</a></li>
          </ul>
        "
        }) }}


        {% from 'details/macro.njk' import details %}
        {{ details({
        "classes": "nhsuk-expander",
        "text": "Long acting, intermediate, background or basal insulin",
        "HTML": "
          <p>Others work more slowly and last for longer. They’re taken once or twice a day to give you the background insulin your body needs throughout the day. They’re known as long acting, intermediate acting, background or basal insulin. </p>
            <p>Intermediate insulin, or isophane insulin, works for several hours and is usually taken once or twice a day.</p>
            <ul>
              <li><a href=\"javascript: void(0)\">Isophane insulin (Insuman Basal, Humulin I, Hypurin or Insulatard)</a></li>
            </ul>
            <p>Long acting insulin is similar to intermediate insulin, but lasts for longer and is usually taken once a day. It can reduce hypos compared to intermediate insulin. Insulin glargine and insulin degludec last longer than insulin detemir.</p>
            <ul>
              <li><a href=\"javascript: void(0)\">Insulin detemir (Levemir)</a></li>
              <li><a href=\"javascript: void(0)\">Insulin glargine (Lantus, Toujeo, Semglee or Abasaglar)</a></li>
              <li><a href=\"javascript: void(0)\">Insulin degludec (Tresiba)</a></li>
            </ul>
          "
          }) }}


        {% from 'details/macro.njk' import details %}
        {{ details({
        "classes": "nhsuk-expander",
        "text": "Mixed or biphasic insulin",
        "HTML": "
            <p>You might need to take more than one type of insulin at different times to keep your blood glucose within a healthy range. Your doctor will advise on what insulin treatment is best for you.</p>
            <p>Mixed insulin, also known as biphasic insulin, contains a rapid acting insulin and a long acting insulin mixed together as one medicine. It’s less flexible than taking separate types, but it means you need fewer injections. It’s taken before meals.</p>

            <ul>
              <li><a href=\"javascript: void(0)\">Biphasic insulin aspart (NovoMix)</a></li>
              <li><a href=\"javascript: void(0)\">Biphasic insulin lispro (Humalog Mix)</a></li>
              <li><a href=\"javascript: void(0)\">Biphasic isophane insulin (Insuman Comb, Humulin M3 or Hypurin)</a></li>
            </ul>

          "
          }) }}

      </section>
      <hr />

        <!--<section>
          <h2>Types of insulin available</h2>

          {% from 'details/macro.njk' import details %}
          {{ details({
          "classes": "nhsuk-expander",
          "text": "Rapid acting, short acting, mealtime or bolus insulin",
          "HTML": "
              <p>Rapid acting insulin starts to work quickly and is taken a few minutes before meals. It can also be used in an insulin pump.</p>
              <ul>
                <li><a href=\"javascript: void(0)\">Insulin aspart (NovoRapid or Fiasp)</a></li>
                <li><a href=\"javascript: void(0)\">Insulin lispro (Humalog or Lyumjev)</a></li>
                <li><a href=\"javascript: void(0)\">Insulin glulisine (Apidra)</a></li>
              </ul>
              <p>Short acting insulin (also known as soluble or neutral insulin) works slightly slower than rapid acting insulin, but is also taken before meals.</p>
              <ul>
                <li><a href=\"javascript: void(0)\">  Soluble or neutral insulin (Actrapid, Humulin S or Insuman Rapid)</a></li>
              </ul>
            "
            }) }}


            {% from 'details/macro.njk' import details %}
            {{ details({
            "classes": "nhsuk-expander",
            "text": "Long acting, intermediate, background or basal insulin",
            "HTML": "
                <p>Intermediate insulin, or isophane insulin, works for several hours and is usually taken once or twice a day.</p>
                <ul>
                  <li><a href=\"javascript: void(0)\">Isophane insulin (Insuman Basal, Humulin I, Hypurin or Insulatard)</a></li>
                </ul>
                <p>Long acting insulin is similar to intermediate insulin, but lasts for longer and is usually taken once a day. It can reduce hypos compared to intermediate insulin. Insulin glargine and insulin degludec last longer than insulin detemir.</p>
                <ul>
                  <li><a href=\"javascript: void(0)\">Insulin detemir (Levemir)</a></li>
                  <li><a href=\"javascript: void(0)\">Insulin glargine (Lantus, Toujeo, Semglee or Abasaglar)</a></li>
                  <li><a href=\"javascript: void(0)\">Insulin degludec (Tresiba)</a></li>
                </ul>
              "
              }) }}


              {% from 'details/macro.njk' import details %}
              {{ details({
              "classes": "nhsuk-expander",
              "text": "Mixed or biphasic insulin",
              "HTML": "
                  <p>Mixed insulin, also known as biphasic insulin, contains a rapid acting insulin and a long acting insulin mixed together as one medicine. It’s less flexible than taking separate types, but it means you need fewer injections. It’s taken before meals.</p>

                  <ul>
                    <li><a href=\"javascript: void(0)\">Biphasic insulin aspart (NovoMix)</a></li>
                    <li><a href=\"javascript: void(0)\">Biphasic insulin lispro (Humalog Mix)</a></li>
                    <li><a href=\"javascript: void(0)\">Biphasic isophane insulin (Insuman Comb, Humulin M3 or Hypurin)</a></li>
                  </ul>

                "
                }) }}
            </section>
            -->

            <section>
              <div class="nhsuk-u-margin-top-6 nhsuk-hub-after-key-links"></div>
              <div>
                <div class="nhsuk-u-margin-top-6 ">
                  <div class="beta-hub-related-links-title">
                    <h2 class="nhsuk-heading-s ">Related conditions</h2>
                  </div>
                  <ul class="beta-hub-related-links">
                    <li class="beta-hub-related-links__list-item">
                      <a href="javascript: void(0)">
                        Type 1 diabetes
                      </a>
                    </li>
                    <li class="beta-hub-related-links__list-item">
                      <a href="javascript: void(0)">
                        Type 2 diabetes
                      </a>
                    </li>
                    <li class="beta-hub-related-links__list-item">
                      <a href="javascript: void(0)">
                        Gestational diabetes
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="nhsuk-u-margin-top-6 ">
                  <div class="beta-hub-related-links-title">
                    <h2 class="nhsuk-heading-s ">Useful resources</h2>
                  </div>
                  <ul class="beta-hub-related-links">
                    <li class="beta-hub-related-links__list-item">
                      <a href="javascript: void(0)">Diabetes UK</a>
                      <div>https://www.diabetes.org.uk<div>
                    </li>
                    <li class="beta-hub-related-links__list-item">
                      <a href="javascript: void(0)">Charity/org</a>
                      <div>url.com</div>
                    </li>
                </ul>
              </div>
            </section>


      <!-- End of content -->

    </div>
  </div>
{% endblock %}
