<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
{% set topic_title = "Insulin" %}
{% set page_link = "Long acting (background or basal) insulin" %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK Insulin UX
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Medicines A to z"
    },
    {
      href: "/",
      text: "Insulin"
    }
  ],
  href: "/",
  text: "Long acting (background or basal) insulin"
}) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <section>
      <!-- Change the page title here -->
      <h1>
        Long acting (background or basal) insulin
        <!--<span class="nhsuk-caption-xl nhsuk-caption--bottom">for diabetes</span>-->
      </h1>
      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

        <p class="nhsuk-lede-text">Lead text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        <hr />
      </section>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <section>
      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
          <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="/">
                  Heading
                </a>
              </h2>
              <div class="nhsuk-card__description"><p data-block-key="f52u9">Description text</p></div>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
          <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="/">
                  Heading
                </a>
              </h2>
              <div class="nhsuk-card__description"><p data-block-key="f52u9">Description text</p></div>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
          <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="/">
                  Heading
                </a>
              </h2>
              <div class="nhsuk-card__description"><p data-block-key="f52u9">Description text</p></div>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
          <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="/">
                  Heading
                </a>
              </h2>
              <div class="nhsuk-card__description"><p data-block-key="f52u9">Description text</p></div>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
          <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="/">
                  Heading
                </a>
              </h2>
              <div class="nhsuk-card__description"><p data-block-key="f52u9">Description text</p></div>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
          <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="/">
                  Heading
                </a>
              </h2>
              <div class="nhsuk-card__description"><p data-block-key="f52u9">Description text</p></div>
            </div>
          </div>
        </li>

    </ul>
    </section>
    <section>
      {% include "includes/sub-topic-nav.html" %}
    </section>
  </div>
</div>
<!-- End of content -->
{% endblock %}
