<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - edit the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
    {% include "includes/breadcrumb-medicine-hub.html" %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page heading -->
      <h1>
        Pregnancy, breastfeeding and fertility with Medicine A
      </h1>

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      <p class="nhsuk-lede-text">
        Whether you can take it in pregnancy, any safety advice
Importance of treating diabetes during pregnancy, and any advice on taking it while pregnant, eg how pregnancy might affect the dose needed.
      </p>
      <p>Could link to Pregnancy and giving birth (type 1) or Diabetes and pregnancy</p>
      <article>
        <h2>X and breastfeeding</h2>
        <p>Whether you can take it while breastfeeding, any safety advice</p>
        <p>Any advice on taking it while breastfeeding, eg how breastfeeding might affect the dose needed</p>

        <h2>X and fertility</h2>
        <p>Whether it can affect male or female fertility</p>
        <p>Followed by standard component: Tell your doctor if you’re trying to get pregnant, pregnant, or breastfeeding</p>
        <p>Link to BUMPS leaflet if available</p>


      </article>

      <aside class="nhsuk-grid-column">
      <div id="sibling-nav" class="app-related-nav beta-hub-sibling-nav nhsuk-u-padding-top-5">
        <h2 class="app-related-nav__heading nhsuk-u-padding-bottom-3">More in <a href="/medicines/diazepam/">Medicine A</a></h2>
        <nav role="navigation" class="app-related-nav__nav-section">
          <ul class="app-related-nav__list beta-hub-sibling-nav__list">
            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="medicine-a-about">
              About Medicine A
              </a>
            </li>
            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="medicine-a-who-can-and-cannot-take">
                Who can and cannot take it
              </a>
            </li>
            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="medicine-a-how-and-when-to-take">
                How and when to take it
              </a>
            </li>
            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="medicine-a-storing">
                Storing Medicine A
              </a>
            </li>
            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="medicine-a-side-effects">
                Side effects
              </a>
            </li>
            <li class="beta-hub-sibling-nav__item  beta-hub-sibling-nav--current">
                Pregnancy, breastfeeding and fertility
            </li>
            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/medicine-a-taking-with-other-medicines-and-herbal-supplements">
                Taking Medicine A with other medicines and herbal supplements
              </a>
            </li>
            <li class="beta-hub-sibling-nav__item">
                  <a class="app-related-nav__link" href="medicine-a-common-questions">
                Common questions
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </aside>

    <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-0">
      Page last reviewed: 12 April 2022<br>
      Next review due: 13 March 2024
    </p>
      <!-- End of content -->

    </div>

  </div>
{% endblock %}
