<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - edit the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
    {% include "includes/breadcrumb-medicine-hub.html" %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page heading -->
      <h1>
        Storing Medicine A
      </h1>

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      <p class="nhsuk-lede-text">
        Nullam elit enim, rutrum quis sem et, molestie condimentum ante. Suspendisse volutpat ac dolor eu scelerisque. Sed quis mollis diam, at vestibulum sapien. Quisque placerat a dolor in viverra. Duis odio tortor, tempus quis congue ac, lobortis in est. Aenean gravida in enim ultricies euismod. Sed consequat sit amet augue quis mollis. Sed iaculis nulla ligula, ac pretium turpis dapibus in. Nulla laoreet et nibh ut sodales. Donec sollicitudin pretium arcu, sed dignissim sapien cursus id.
      </p>
      <article>
        <h2>Storing</h2>
        <p>(Suggested extra heading/section, as this medicine has specific requirements – alternative is to cover storage under How and when to take it)</p>
        <p>Advice on storing insulin safely, at home and when travelling (eg keeping it cool, keeping it away from children, out of sunlight, making sure it’s in date, how long it keeps for once started)</p>

      </article>

      <aside class="nhsuk-grid-column">
      <div id="sibling-nav" class="app-related-nav beta-hub-sibling-nav nhsuk-u-padding-top-5">
        <h2 class="app-related-nav__heading nhsuk-u-padding-bottom-3">More in <a href="/medicines/diazepam/">Medicine A</a></h2>
        <nav role="navigation" class="app-related-nav__nav-section">
          <ul class="app-related-nav__list beta-hub-sibling-nav__list">
            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="medicine-a-about">
              About Medicine A
              </a>
            </li>
            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="medicine-a-who-can-and-cannot-take">
                Who can and cannot take it
              </a>
            </li>
            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="medicine-a-how-and-when-to-take">
                How and when to take it
              </a>
            </li>
            <li class="beta-hub-sibling-nav__item  beta-hub-sibling-nav--current">
                Storing Medicine A
            </li>
            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="medicine-a-side-effects">
                Side effects
              </a>
            </li>
            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="medicine-a-pregnancy-breastfeeding-and-fertility-while-taking">
                Pregnancy, breastfeeding and fertility
              </a>
            </li>
            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/medicine-a-taking-with-other-medicines-and-herbal-supplements">
                Taking Medicine A with other medicines and herbal supplements
              </a>
            </li>
            <li class="beta-hub-sibling-nav__item">
                  <a class="app-related-nav__link" href="medicine-a-common-questions">
                Common questions
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </aside>

    <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-0">
      Page last reviewed: 12 April 2022<br>
      Next review due: 13 March 2024
    </p>
      <!-- End of content -->

    </div>

  </div>
{% endblock %}
